* {
  border-radius: 0px;
  font-family: "IosevkaTerm Nerd Font Propo 20";
  font-weight: bold;
}

window {
  background: transparent;
}
text {
  color: @base05@;
  background-color: alpha(@base00@, 0.9);
  border: solid 5px @base08@;
  padding: 15px;
}

box.main {
  background-color: alpha(@base00@, 0.9);
  border: solid 5px @base05@;
  padding: 5px 10px 5px 5px;
  margin: 0px 5px 5px 5px;
  box-shadow: 5px 0px 0px 0px @ledge@, -5px 0px 0px 0px @ledge@, 5px 5px 0px 0px @ledge@, -5px 5px 0px 0px @ledge@;
  animation: spring 0.45s cubic-bezier(0.40, 0.20, 0.05, 1.00);
}
box.matches {
  background-color: alpha(@base00@, 0.9);
  color: @base05@;
  padding-top: 5px;
}

label.match {
  background-color: transparent;
  color: @base05@;
  animation: spring 0.225s cubic-bezier(0.55, 0.20, 0.05, 1.00);
}
label.match.description {
  color: @base03@;
  font-size: 0px;
}
box.match {
  margin: 5px 5px 0px 5px;
}
.match:selected {
  background-color: @base0D@;
  color: @base00@;
  transition: background-color 0.225s ease-in-out;
}

@keyframes spring {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
}
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

list, listview, row, scrolledwindow, viewport {
  background-color: transparent;
}
