* {
  border-radius: 0px;
  font-family: "IosevkaTerm Nerd Font Propo 20";
  font-weight: bold;
}

window {
  background: transparent;
}
text {
  color: #ddc7a1;
  background-color: #292828;
  border: solid 5px #ea6962;
  padding: 15px;
}

box.main {
  background-color: #292828;
  border: solid 5px #ddc7a1;
  padding: 5px 10px 5px 5px;
  animation: spring 0.65s cubic-bezier(0.55, 0.20, 0.05, 1.00);
}
box.matches {
  background-color: #292828;
  color: #ddc7a1;
  padding-top: 5px;
}

label.match {
  background-color: transparent;
  color: #ddc7a1;
  animation: spring 0.325s cubic-bezier(0.55, 0.20, 0.05, 1.00);
}
label.match.description {
  color: #665c54;
  font-size: 0px;
}
box.match {
  margin: 5px 5px 0px 5px;
}
.match:selected {
  background-color: #7daea3;
  color: #292828;
  transition: background-color 0.325s ease-in-out;
}

@keyframes spring {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
}
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
