.bar-cava {
 background-color: $base00;
  color: $base05;
  border: solid 5px $base0E;
}

.sm-ph_cava {
  background-color: $base00;
  border: 5px solid $base0E;
  border-top: 0px;
  padding: 0px;
}

/* .sm-el_cava-img { */
/*   min-width: 125px; */
/*   min-height: 125px; */
/*   background-size: cover; */
/*   background-position: center; */
/*   border: 5px solid $base0E; */
/*   border-top: 0px; */
/*   border-left: 0px; */
/* } */

.sm-ph_cava-meta {
  background-color: $base00;
  padding: 10px;
  border: 5px solid $base0E;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.sm-el_cava-meta-title {
  color: $base05;
  margin-bottom: 5px;
}

.sm-el_cava-meta-artist {
  color: $base03;
}

.sm-el_cava-meta-src {
  background-color: $base0B;
  color: $base00;
  padding: 5px 10px;
  margin-top: 10px;
}

.sm-ph_cava-progress {
  background-color: $base00;
  padding: 5px 0px;
  border: 5px solid $base0E;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.sm-el_cava-progress-sldr highlight {
  background-color: $base0E;
  border-radius: 0px;
  min-height: 10px;
}

.sm-el_cava-progress-sldr trough {
  background-color: $base03;
  border-radius: 0px;
  min-height: 10px;
}

.sm-el_cava-progress-sldr slider {
  background-color: $base0B;
  border-radius: 0px;
  min-width: 5px;
  min-height: 20px;
  text-shadow: none;
  box-shadow: none;
}

.sm-el_cava-bound {
  color: $base03;
  margin: 0px 10px;
}

.sm-ph_cava-btns {
  background-color: $base00;
  padding: 5px;
}

.sm-el_cava-btn {
  background-color: $base0B;
  color: $base00;
  border-radius: 0px;
  min-width: 75px;
  margin: 0px 5px;
  font-size: 100px;
}

.sm-el_cava-btn:first-child {
  margin-left: 0px;
}

.sm-el_cava-btn:last-child {
  margin-right: 0px;
}

.sm-el_cava-btn:hover {
  background-color: $base0E;
}
