.bar-clk {
  background-color: $base00;
  color: $base05;
  border: solid 5px $base09;
}

.sm-ph_clk {
  border: 5px solid $base09;
  border-top: 0px;
  padding: 5px
}

calendar.highlight {
  color: $base0A;
}

calendar:selected {
  background-color: $base09;
  border-radius: 0;
}

calendar:indeterminate {
  color: $base0F;
}
