.bar-lang {
  background-color: $base00;
  color: $base05;
  border: solid 5px $base0D;
}

.sm-el_lang-btn {
  color: $base05;
  border: solid 5px $base0D;
  border-radius: 0;
  margin-top: 5px;
  min-width: 25px;
}

.sm-el_lang-btn-active {
  color: $base00;
  background-color: $base08;
  border: solid 5px $red-dark;
  border-radius: 0;
  margin-top: 5px;
  min-width: 25px;
}
