.bar-sts {
  background-color: $base00;
  color: $base05;
  border: solid 5px $base0C;
  padding: 5px 10px;
}

.sm-ph_sts {
  border: 5px solid $base0C;
  border-top: 0px;
}

.sm-ph_sts-vol {
  padding: 2.5px 15px;
}

.sm-el_sts-vol-sldr {
  margin-left: 15px;
}

.sm-el_sts-vol-sldr highlight {
  background-color: $base0C;
  border-radius: 0px;
  min-height: 10px;
}

.sm-el_sts-vol-sldr trough {
  background-color: $base03;
  border-radius: 0px;
  min-height: 10px;
}

.sm-el_sts-vol-sldr slider {
  background-color: $base0B;
  border-radius: 0px;
  min-width: 5px;
  min-height: 20px;
  text-shadow: none;
  box-shadow: none;
}

.sm-ph_sts-brt {
  padding: 2.5px 15px;
}

.sm-el_sts-brt-sldr {
  margin-left: 15px;
}

.sm-el_sts-brt-sldr highlight {
  background-color: $base0C;
  border-radius: 0px;
  min-height: 10px;
}

.sm-el_sts-brt-sldr trough {
  background-color: $base03;
  border-radius: 0px;
  min-height: 10px;
}

.sm-el_sts-brt-sldr slider {
  background-color: $base0B;
  border-radius: 0px;
  min-width: 5px;
  min-height: 20px;
  text-shadow: none;
  box-shadow: none;
}

.sm-ph_sts-set {
  border-top: 5px solid $base0C;
  padding: 10px;
}

.sm-el_sts-set-btn,
.sm-el_sts-set-btn-active {
  background-color: $base03;
  color: $base05;
  border-radius: 0;
  margin-bottom: 5px;
}

.sm-el_sts-set-btn-active {
  background-color: $base0B;
  color: $base00;
}

.sm-el_sts-set-btn:first-child,
.sm-el_sts-set-btn-active:first-child {
  margin-left: 10px;
  margin-right: 5px;
}

.sm-el_sts-set-btn:last-child,
.sm-el_sts-set-btn-active:last-child {
  margin-left: 5px;
  margin-right: 10px;
}

.sm-el_sts-set-btn:hover,
.sm-el_sts-set-btn-active:hover {
  background-color: $base0C;
  color: $base00;
}

.sm-el_sts-set-btn-lbl-l {
  margin-right: 10px;
}

.sm-ph_sts-set-tray {
  border: 5px solid $base0C;
  margin: 10px 10px 20px 10px;
  padding: 10px 5px;
}
