.bar-sts {
  background-color: #292828;
  color: #ddc7a1;
  border: solid 5px #89b482;
  padding: 5px 10px;
}

.sm-ph_sts {
  border: 5px solid #89b482;
  border-top: 0px;
}

.sm-ph_sts-vol {
  padding: 2.5px 15px;
}

.sm-el_sts-vol-sldr {
  margin-left: 15px;
}

.sm-el_sts-vol-sldr highlight {
  background-color: #89b482;
  border-radius: 0px;
  min-height: 10px;
}

.sm-el_sts-vol-sldr trough {
  background-color: #665c54;
  border-radius: 0px;
  min-height: 10px;
}

.sm-el_sts-vol-sldr slider {
  background-color: #a9b665;
  border-radius: 0px;
  min-width: 5px;
  min-height: 20px;
  text-shadow: none;
  box-shadow: none;
}

.sm-ph_sts-brt {
  padding: 2.5px 15px;
}

.sm-el_sts-brt-sldr {
  margin-left: 15px;
}

.sm-el_sts-brt-sldr highlight {
  background-color: #89b482;
  border-radius: 0px;
  min-height: 10px;
}

.sm-el_sts-brt-sldr trough {
  background-color: #665c54;
  border-radius: 0px;
  min-height: 10px;
}

.sm-el_sts-brt-sldr slider {
  background-color: #a9b665;
  border-radius: 0px;
  min-width: 5px;
  min-height: 20px;
  text-shadow: none;
  box-shadow: none;
}

.sm-ph_sts-set {
  border-top: 5px solid #89b482;
  padding: 10px;
}

.sm-el_sts-set-btn {
  background-color: #a9b665;
  color: #292828;
  border-radius: 0;
  margin-bottom: 5px;
}

.sm-el_sts-set-btn:first-child {
  margin-left: 10px;
  margin-right: 5px;
}

.sm-el_sts-set-btn:last-child {
  margin-left: 5px;
  margin-right: 10px;
}

.sm-el_sts-set-btn:hover {
  background-color: #89b482;
}

.sm-el_sts-set-btn-lbl-l {
  margin-right: 10px;
}

.sm-ph_sts-set-tray {
  border: 5px solid #89b482;
  margin: 10px 10px 20px 10px;
  padding: 10px 5px;
}
