.bar-wtr {
  background-color: $base00;
  color: $base05;
  border: solid 5px $base0A;
}

.sm-el_wtr-lbl {
  background-color: $base00;
  color: $base05;
  border: solid 5px $base0A;
  border-radius: 0;
  margin-top: 5px;
  min-width: 75px;
}
