* {
  font-family: "IosevkaTerm Nerd Font Propo";
  font-weight: bold;
  color: #ddc7a1;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

#waybar {
    background: none;
    color: #ddc7a1;
    margin: 0;
    padding: 0 10px;
    min-height: 0;
}

#waybar {
    background: none;
    color: #ddc7a1;
    margin: 0;
    padding: 0 10px;
    min-height: 0;
}

#window,
#custom-launcher,
#mpris,
#cava,
#clock,
#language,
#weather,
#pulseaudio,
#battery,
#tray {
    background-color: transparent;
    color: inherit;
    padding: 0 5px;
    margin: 0;
}

#custom-launcher {
    background-color: #ea6962;
    color: #292828;
    border: solid 5px #e3433b;
    padding: 0 4px;
    margin: 0;
}

#window {
    background-color: #292828;
    border: solid 5px #7daea3;
    color: #ddc7a1;
    border-radius: 0;
    padding: 0 6px;
    margin: 0;
}

.modules-center,
.modules-right,
.modules-left {
    background-color: #292828;
    border: none;
    border-radius: 0;
    padding: 5px 5px;
    margin: 0px;
}

#workspaces {
    background-color: #292828;
    border-radius: 0;
    border: none;
    margin: 0px -5px 0px -5px;
    padding: 0 7px;
}

#workspaces button {
    padding: 0px 7px;
    margin: 0px 2px;
    border: solid 5px #7daea3;
    background-color: transparent;
    color: #ddc7a1;
    border-radius: 0;
}

#workspaces button:first-child,
#workspaces button:last-child {
    border-radius: 0;
}

#workspaces button.active {
    transition: all 0.5s ease-in-out;
    background-color: #292828;
    border: solid 5px #ea6962;
}

#mpris {
    background-color: #292828;
    border: solid 5px #d3869b;
    color: #ddc7a1;
    padding: 0 7px;
    margin: 0;
}

#cava {
    background-color: #292828;
    border: solid 5px #d3869b;
    color: #ddc7a1;
    padding: 0 7px;
    margin: 0;
}

#clock {
    color: #ddc7a1;
    border: solid 5px #ddc7a1;
    background-color: #292828;
    padding: 0 7px;
    margin: 0;
}

#language {
  background-color: #292828;
  border: solid 5px #a9b665;
  color: #ddc7a1;
  padding: 0 7px;
  margin: 0;
}

#custom-weather {
  background-color: #292828;
  border: solid 5px #e78a4e;
  color: #ddc7a1;
  padding: 0 7px;
  margin: 0;
}

#pulseaudio {
  background-color: #292828;
  border: solid 5px #7daea3;
  color: #ddc7a1;
  padding: 0 7px;
  margin: 0;
}

#pulseaudio.muted {
    background-color: #292828;
    color: #ddc7a1;
}

#battery {
  background-color: #292828;
  border: solid 5px #d3869b;
  color: #ddc7a1;
  padding: 0 7px;
  margin: 0;
}

#battery.charging,
#battery.plugged {
  color: #ddc7a1;
  background-color: #292828;
}

#battery.critical:not(.charging) {
  background-color: #ea6962;
  color: #ddc7a1;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#tray {
  background-color: #292828;
  border: solid 5px #d8a657;
  color: #ddc7a1;
  padding: 0 7px;
  margin: 0;
}
