* {
    font-family: "IosevkaTerm Nerd Font Propo";
    font-weight: bold;
    color: #ddc7a1;
    text-shadow: none;
    box-shadow: none;
    transition: all 0.5s ease-in-out;
}

#waybar {
  color: #ddc7a1;
  background: none;
}

#custom-launcher,
#mpris,
#cava,
#clock,
#language,
#weather,
#pulseaudio,
#battery {
    background-color: transparent;
    color: inherit;
}

#custom-launcher {
    background-color: #ea6962;
    color: #292828;
    border: solid 5px #e3433b;
    min-width: 40px;
}

.modules-center,
.modules-right,
.modules-left {
    background-color: transparent;
}

#workspaces button {
    background-color: #292828;
    padding: 0px 5px;
    margin-left: 5;
    border: solid 5px #7daea3;
    border-radius: 0;
    color: #ddc7a1;
}
#workspaces button:first-child {
  margin-left: 0;
}
#workspaces button.active {
    background-color: #292828;
    border: solid 5px #ea6962;
}

#mpris {
    background-color: #292828;
    border: solid 5px #d3869b;
    color: #ddc7a1;
    padding: 0 5px;
}

#cava {
    background-color: #292828;
    border: solid 5px #d3869b;
    color: #ddc7a1;
    padding: 0 5px;
}

#clock {
    color: #ddc7a1;
    border: solid 5px #ddc7a1;
    background-color: #292828;
    padding: 0 5px;
}

#language {
    background-color: #292828;
    border: solid 5px #d8a657;
    color: #ddc7a1;
    min-width: 80px;
}

#custom-weather {
    background-color: #292828;
    border: solid 5px #e78a4e;
    color: #ddc7a1;
    min-width: 80px;
}

#pulseaudio {
    background-color: #292828;
    border: solid 5px #d3869b;
    color: #ddc7a1;
    min-width: 80px;
}
#pulseaudio.muted {
    background-color: #292828;
    color: #ea6962;
    min-width: 80px;
}

#battery {
    background-color: #292828;
    border: solid 5px #a9b665;
    color: #ddc7a1;
    min-width: 80px;
}
