  programs.firefox = {
    enable = true;
    policies = {
      # privacy
      DisableEncryptedClientHello = false;
      DisableFirefoxScreenshots = true;
      DisableFirefoxStudies = true;
      DisableTelemetry = true;
      DNSOverHTTPS = {
        Enabled = true;
        Locked = true;
      };
      EnableTrackingProtection = {
        Value= true;
        Locked = true;
        Cryptomining = true;
        Fingerprinting = true;
        EmailTracking = true;
        SuspectedFingerprinting = true;
        Category = "strict";
        BaselineExceptions = true;
        ConvenienceExceptions = true;
      };
      HttpsOnlyMode = "force_enabled";
      Preferences = {
        # privacy
        "toolkit.crashreporter.infoURL" = "";
        "toolkit.telemetry.bhrPing.enabled" = false;
        "toolkit.telemetry.cachedClientID" = "";
        "toolkit.telemetry.firstShutdownPing.enabled" = false;
        "toolkit.telemetry.hybridContent.enabled" = false;
        "toolkit.telemetry.newProfilePing.enabled" = false;
        "toolkit.telemetry.previousBuildID" = "";
        "toolkit.telemetry.reportingpolicy.firstRun" = false;
        "toolkit.telemetry.server" = "";
        "toolkit.telemetry.server_owner" = "";
        "toolkit.telemetry.shutdownPingSender.enabled" = false;
        "toolkit.telemetry.unified" = false;
        "toolkit.telemetry.updatePing.enabled" = false;

        "browser.contentblocking.category" = { Status = "locked"; };
        "browser.tabs.crashReporting.email" = false;
        "browser.tabs.crashReporting.emailMe" = false;
        "browser.tabs.crashReporting.sendReport" = false;

        "datareporting.healthreport.infoURL" = "";
        "datareporting.policy.firstRunURL" = "";

        "dom.ipc.plugins.flash.subprocess.crashreporter.enabled" = false;
        "dom.ipc.plugins.reportCrashURL" = false;

        /*
        my own settings (edit with your own needs)
        source: https://mozilla.github.io/policy-templates/#preferences
        */
        # "browser.ctrlTab.recentlyUsedOrder" = false;
        # "browser.search.region" = "US";
        # "browser.search.suggest.enabled" = false;
        # "browser.search.suggest.enabled.private" = false;
        # "browser.urlbar.autoFill" = true;
        # "browser.urlbar.showSearchSuggestionsFirst" = false;
        # "browser.urlbar.suggest.bookmark" = true;
        # "browser.urlbar.suggest.history" = false;
        # "browser.urlbar.suggest.openpage" = false;
        # "browser.urlbar.suggest.searches" = false;
        # "browser.urlbar.suggest.topsites" = false;
        # "extensions.unifiedExtensions.enabled" = false;
        #
        # "dom.forms.autocomplete.formautofill" = false;
      };

      # nixos specific settings
      BlockAboutAddons = true;
      BlockAboutConfig = true;
      BlockAboutProfiles = true;
      BlockAboutSupport = true;
      BrowserDataBackup = false;
      DisableAppUpdate = true;
      DisableSetDesktopBackground = true;
      DisableSystemAddonUpdate = false;
      ExtensionUpdate = true;

      # convenient stuff
      NoDefaultBookmarks = true;

      /*
      my own settings (edit with your own needs)
      source: https://mozilla.github.io/policy-templates/
      */
      # AutofillAddressEnabled = false;
      # AutofillCreditCardEnabled = false;
      # Bookmarks = [
      #   # social
      #   {
      #     Title = "YouTube";
      #     URL = "https://youtube.com";
      #     Placement = "menu"; # "toolbar"
      #     Folder = "Social"; # just a folder name
      #   }
      #   {
      #     Title = "Spotify";
      #     URL = "https://spotify.com";
      #     Placement = "menu";
      #     Folder = "Social";
      #   }
      #   # util
      #   {
      #     Title = "Google Translate";
      #     URL = "https://translate.google.com";
      #     Placement = "menu";
      #     Folder = "Util";
      #   }
      #   {
      #     Title = "Deepseek";
      #     URL = "https://chat.deepseek.com";
      #     Placement = "menu";
      #     Folder = "Util";
      #   }
      # ];
      # DisableAccounts = true;
      # DisplayBookmarksToolbar = "never";
      # DisableFeedbackCommands = true;
      # DisableFirefoxAccounts = true;
      # DisableFormHistory = true;
      # DisablePocket = true;
      # DisplayMenuBar = "default-off";
      # DontCheckDefaultBrowser = true;
      # FirefoxHome = {
      #   Search = false;
      #   TopSites = false;
      #   SponsoredTopSites = false;
      #   Highlights = false;
      #   Pocket = false;
      #   SponsoredPocket = false;
      #   Snippets = false;
      #   Locked = true;
      # };
      # FirefoxSuggest = {
      #   WebSuggestions = false;
      #   SponsoredSuggestions = false;
      #   ImproveSuggest = false;
      #   Locked = true;
      # };
      # GenerativeAI = {
      #   Enabled = false;
      #   Chatbot = false;
      #   LinkPreviews = false;
      #   TabGroups = false;
      #   Locked = false;
      # };
      # Homepage = {
      #   # URL = "https://duckduckgo.com/"; # with this option firefox startup sucks
      #   StartPage = "homepage";
      #   Locked = true;
      # };
      # NewTabPage = true;
      # OfferToSaveLogins = false;
      # PasswordManagerEnabled = false;
      # PrintingEnabled = false;
      # SanitizeOnShutdown = {
      #   History = true;
      #   Locked = true;
      # };
      # SearchEngines = {
      #   Default = "DuckDuckGo";
      #   Remove = [
      #     "Bing"
      #     "Amazon.com"
      #     "eBay"
      #     "Wikipedia (en)"
      #   ];
      # };
      # TranslateEnabled = false;

      # mozilla addons
      ExtensionSettings = {
        # ublock
        "uBlock0@raymondhill.net" = {
          install_url = "https://addons.mozilla.org/firefox/downloads/latest/ublock-origin/latest.xpi";
          installation_mode = "force_installed";
          private_browsing = true;
          default_area = "menupanel";
        };
        # privacy badger
        "jid1-MnnxcxisBPnSXQ@jetpack" = {
          install_url = "https://addons.mozilla.org/firefox/downloads/latest/privacy-badger17/latest.xpi";
          installation_mode = "force_installed";
          private_browsing = true;
          default_area = "menupanel";
        };
        # decentraleyes
        "jid1-BoFifL9Vbdl2zQ@jetpack" = {
          install_url = "https://addons.mozilla.org/firefox/downloads/latest/decentraleyes/latest.xpi";
          installation_mode = "force_installed";
          private_browsing = true;
          default_area = "menupanel";
        };
        # i still don't care about cookies
        "idcac-pub@guus.ninja" = {
          install_url = "https://addons.mozilla.org/firefox/downloads/latest/istilldontcareaboutcookies/latest.xpi";
          installation_mode = "force_installed";
          private_browsing = true;
          default_area = "menupanel";
        };
        # bitwarden
        "{446900e4-71c2-419f-a6a7-df9c091e268b}" = {
          install_url = "https://addons.mozilla.org/firefox/downloads/latest/bitwarden-password-manager/latest.xpi";
          installation_mode = "force_installed";
          default_area = "menupanel";
        };
        # vimium
        "{d7742d87-e61d-4b78-b8a1-b469842139fa}" = {
          install_url = "https://addons.mozilla.org/firefox/downloads/latest/vimium-ff/latest.xpi";
          installation_mode = "force_installed";
          private_browsing = true;
          default_area = "menupanel";
        };
        # gruvbox-material theme
        "{1e01c787-99d2-4826-86df-0003da8e88cd}" = {
          install_url = "https://addons.mozilla.org/firefox/downloads/latest/gruvbox-material-theme/latest.xpi";
          installation_mode = "force_installed";
          private_browsing = true;
        };
      };
    };
  };
}
