@import "./colors.scss";

* {
  border-radius: 0;
  font-family: "IosevkaTerm Nerd Font Propo";
  font-weight: bold;
  transition: background 0.225s ease-in-out;
  transition: color 0.225s ease-in-out;
}

@import "./bar/bar.scss";
