* {
    font-family: "IosevkaTerm Nerd Font Propo";
    background-image: none;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
}

window {
    background-color: rgba(29, 32, 33, 0.95);
}

button {
    color: #ddc7a1;
    background-color: #292828;
    border: solid 5px #ddc7a1;
    min-width: 300px;

    font-size: 256px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;

    margin: 10px;
    padding-bottom: 120px;
    border-radius: 0;
}

button:hover {
    background-color: #292828;
    border: solid 5px #ea6962;
    color: #ea6962;
    outline-style: none;
}
