window.ewwbar {
  background: none;
  margin-left: 3px;
  margin-top: 3px;
  margin-right: 3px;
}

.ewwbar-ph {
  padding: 3px 3px 0px 3px;
}

@import "./modules/power.scss";
@import "./modules/clock.scss";
@import "./modules/weather.scss";
@import "./modules/cava.scss";
@import "./modules/battery.scss";
@import "./modules/status.scss";
