* {
  font-family: "IosevkaTerm Nerd Font Propo";
  font-weight: bold;
}

.calendar-window {
  background-color: #292828;
  border: 5px solid #ddc7a1;
  color: #ddc7a1;
  padding: 10px;
  border-radius: 0;
}

calendar {
  background-color: #292828;
  color: #ddc7a1;
  border-radius: 0;
}

calendar:selected {
  background-color: #ea6962;
  color: #292828;
}

calendar.header {
  background-color: transparent;
  color: #83a598;
}

calendar.highlight {
  color: #a9b665;
}

calendar:indeterminate {
  color: #928374;
}

calendar.active {
  background-color: #83a598;
  color: #292828;
}

calendar button {
  background-color: transparent;
  color: #ddc7a1;
  border: none;
  box-shadow: none;
  border-radius: 0;
}
